.login-container {
  display: flex;
  height: 170vh;
  justify-content: center;
  align-items: center;
  background: #EAEBD0;
}
.aa
 {width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #EAEBD0;
  outline: none;
  background-color: #EAEBD0;
  color: brown;
  text-decoration: none;
  
}

.login-form {
  background: #AF3E3E;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #EAEBD0;
}

.login-form input {
  padding: 0.7rem;
  border: 1px solid #EAEBD0;
  border-radius: 5px;
  color: #EAEBD0;
  outline: none;
}

.login-form button {
  padding: 0.7rem;
  background: #EAEBD0;
  color: brown;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #EAEBD0;
  
}
