.button-28 {
 appearance: none;
  background-color: transparent;
  border: 2px solid brown;
  border-radius: 15px;
  box-sizing: border-box;
  color: brown;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 5px 15px;
   text-decoration: none;
}

