.footer-container{
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}
.logo-png{
    width: 30px;
}
.footer{
    max-width: 1100px;
    padding:5rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.heal-logo{
    display: flex;
    justify-content:flex-start;
    margin-bottom: -0.5rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #AF3E3E;
}
.filler-text{
    font-size: 0.9rem;
    color: #AF3E3E;
    
}
.social-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: -2.4rem;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    width: 70%;
    padding-top: 0.1rem;

}
.footer-grid-heading{
    padding-left: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #AF3E3E;
    margin-bottom: 1.4rem;
}
ul{
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: #AF3E3E;
    font-size: 0.8rem;
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.social{
    display: flex;
    gap: 0.6rem;
    
}
.footer-copyright{
    color:#AF3E3E;
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-top:1px solid #AF3E3E ;
   display: flex;
   justify-content: center;
    padding-top: 1rem;
}
/* Tablets */
@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row on tablet */
    gap: 1.5rem;
    width: 100%;
  }

  .footer-top {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Mobile */
@media screen and (max-width: 528px) {
  .footer-grid {
    grid-template-columns: 1fr; /* stack columns vertically */
    gap: 1rem;
  }

  .footer-top {
    text-align: left;
  }

  .social {
    justify-content: center;
  }
}
