.container{
    display: flex;
    align-items: center;
    gap: 2rem;
    

}
.section-hero-image img{
   opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1.5s ease forwards;
  animation-delay: 0.5s; 
}
.section-hero-data{
    margin-top:80px;
    font-family: "Titillium Web", sans-serif;
    padding-bottom: 20px; 
    
}
.hero-heading {
   font-size: 31px;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
  color: #AF3E3E;
  opacity: 0;
  animation: fadeInDown 1.5s ease forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container .section-hero-data .hero-para{
    font-family: "Titillium Web", sans-serif;
    font-size:14px;
    color: #AF3E3E;
}
@media screen and (max-width: 960px){
    .container {
        flex-direction: column; 
        text-align: center;
    }
    .section-hero-image {
        padding-right: 0;
        text-align: center;
    }

    .section-hero-image img {
        width: 80%; /* shrink image */
        max-width: 300px; /* prevent it from being too big */
        height: auto;
    }
    
    .section-hero-data {
        margin-top: 40px; 
    }

    .hero-heading {
        font-size: 24px;
    }

    .container .section-hero-data .hero-para {
        font-size: 13px;
    }
}