@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color:#AF3E3E;
	
}
header h3{
	color: #EAEBD0;
}
nav a {
	margin: 0 1rem;
	text-decoration: none;
	color: #EAEBD0;
}

nav a:hover {
	color: #DA6C6C;
}
.active-link{
	border: 1px solid #EAEBD0;
	
}
button{
	background-color: #EAEBD0;
  border: none;
  color: #AF3E3E;
  padding: 3px 15px;
  text-align: center;
  font-size: 10px;
  margin: 2px 1px;
  opacity: 0.6;
  transition: 0.3s;
}
button:hover {
		opacity: 1;
}

header .nav-btn {
	padding: 2px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
header div,
nav {
	display: flex;
	align-items: center;
	
}
nav{
	padding-bottom: 4px;
}
