.work{
  
      padding-left: 58px;
    margin-bottom: 30px;
    background-color: #EAEBD0;
    padding-top: 40px;
    padding-bottom: 50px;
}
.worksimg img{
    width: 90px; 
}
.worksss{
    display:flex;
}
.workpara{
    display: flex;
    gap: 4rem;
    padding-left: 20px;
   
}
.workbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 320px;
    margin-right: 380px
}
.workbtn:hover{
    color: burlywood;
    background-color: brown;
    border: 3px solid burlywood;
}
