.healthform{
  margin-bottom:30px;
  background-color:#AF3E3E;
  padding-top:20px;
}
.healthdiv1{
  margin:15px;
}
.healthlabel1{
  color: #EAEBD0;
  padding-left:20px;
}
.healthinput1{
    border: 2px solid #dcddb9; 
    color:#AF3E3E;
    border-radius: 6px;
    outline: none;
}
.healthinput1:focus {
  border-color: #D46A6A;     
  box-shadow: 0 0 6px rgba(175, 62, 62, 0.6);
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #EAEBD0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #EAEBD0;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  margin-bottom: 20px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #AF3E3E;
  background-color: #EAEBD0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}